.score-board{
    width: 80%;
    margin: 0 auto;
}
.score-board .header .ant-statistic-title{
    font-size: 16px;
}
.current-score, .score-history{
    text-align: center;
    min-height: 400px;
    max-height: 400px;
    overflow-y: auto;
}
.current-score-section .current-total-score{
    height: 60px;
    display: block;
    font-size: 20px;
    font-weight: 500;
    background-color: #CCCCCC;
    padding: 10px;
    text-align: right;
}
/*.current-score table, .score-history table{
    max-height: 300px;
    overflow-y: auto;
}*/
.current-score tr.error{
    background-color: #ff7d73 !important;
}

.error-message{
    font-size: 13px;
    color:red;
}
.error-message-show{display: block;}
.error-message-hide{display: none;}